
button
{
    border-radius: 75%;
    padding: 10px;
    font-size: 10px;
    background-color:black;
    color:white;
}
p
{
    color:rgb(0, 0, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
input[type="text"]
{
    width: 150px;
    margin-left: 10px;
    background-color: rgba(43, 0, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique; 
    color:black
}
